@font-face {
    font-family: "SourceSansPro-Regular";
    src: url(./assets/fonts/SourceSansPro-Regular.ttf);
}
@font-face {
    font-family: "SourceSansPro-Bold";
    src: url(./assets/fonts/SourceSansPro-Bold.ttf);
}
@font-face {
    font-family: "SourceSansPro-SemiBold";
    src: url(./assets/fonts/SourceSansPro-SemiBold.ttf);
}

* {

    --webkit-font-smoothing: antialiased;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "SourceSansPro-Regular";
}